<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>Chess</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
    </head>
<body>

<main>
    <div class="wrapper">
        <div class="layout">
             <div class="header justify-content-between">
                 <div class="player-1-side">
                     <span>Player 1</span>
                 </div>
                 <div class="choose-hero">
                     <div class="player-bg">Player 1 turn</div>
                     <div class="choose-hero-title">Choose Perk</div>
                 </div>
                 <div class="player-2-side">
                     <span>Player 2</span>
                 </div>
             </div>
            <div class="d-flex header-controls">
                <div>
                    <button>Skip</button>
                </div>
                <div>
                    <button>Exit</button>
                </div>
            </div>
            <div class="d-flex battle-field-layout">
                <div class="battle-field-grid">
                    <div class="div1">
                        <div class="player-1">
                            <img src="image/char/snowman-sm.png" />
                        </div>
                    </div>
                    <div class="div2"> </div>
                    <div class="div3"> </div>
                    <div class="div4"> </div>
                    <div class="div5"> </div>
                    <div class="div6"> </div>
                    <div class="div7"> </div>
                    <div class="div8"> </div>
                    <div class="div9"> </div>
                    <div class="div10">
                        <div class="player-2">
                            <img src="image/char/panda-sm.png" />
                        </div>
                    </div>
                    <div class="div11"> </div>
                    <div class="div12"> </div>
                    <div class="div13"> </div>
                    <div class="div14"> </div>
                    <div class="div15"> </div>
                    <div class="div16"> </div>
                    <div class="div17"> </div>
                    <div class="div18"> </div>
                    <div class="div19"> </div>
                    <div class="div20"> </div>
                    <div class="div21"> </div>
                    <div class="div22"> </div>
                    <div class="div23"> </div>
                    <div class="div24"> </div>
                    <div class="div25"> </div>
                    <div class="div26"> </div>
                    <div class="div27"> </div>
                    <div class="div28"> </div>
                    <div class="div29"> </div>
                    <div class="div30"> </div>
                    <div class="div31"> </div>
                    <div class="div32"> </div>
                    <div class="div33"> </div>
                    <div class="div34"> </div>
                    <div class="div35"> </div>
                    <div class="div36"> </div>
                    <div class="div37"> </div>
                    <div class="div38"> </div>
                    <div class="div39"> </div>
                    <div class="div40"> </div>
                    <div class="div41"> </div>
                    <div class="div42"> </div>
                    <div class="div43"> </div>
                    <div class="div44"> </div>
                    <div class="div45"> </div>
                    <div class="div46"> </div>
                    <div class="div47"> </div>
                    <div class="div48"> </div>
                    <div class="div49"> </div>
                    <div class="div50"> </div>
                </div>
                <div class="d-flex buttons">
                    <div>
                        <button type="button">
                            <span>Echo</span>
                            <p>
                                Enemy placement gives you +2 pieces on random lanes
                            </p>
                        </button>
                    </div>
                    <div>
                        <button type="button">
                            <span>Echo</span>
                            <p>
                                Enemy placement gives you +2 pieces on random lanes
                            </p>
                        </button>
                    </div>
                    <div>
                        <button type="button">
                            <span>Echo</span>
                            <p>
                                Enemy placement gives you +2 pieces on random lanes
                            </p>
                        </button>
                    </div>
                    <div>
                        <button type="button">
                            <span>Echo</span>
                            <p>
                                Enemy placement gives you +2 pieces on random lanes
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <script src="assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
